.grid-4 {
    display: grid;
    grid-template-columns: repeat(4,25%);
    /* grid-template-rows: repeat(4, 25%); */
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2,50%);
    /* grid-template-rows: repeat(4, 25%); */
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    /* grid-template-rows: repeat(4, 25%); */
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.67%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.67%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.67%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.67%;
}

.col-12 {
    width: 100%;
}

@media screen and (min-width: 680px) and (max-width: 800px){
    .grid-4{
        display: grid;
        grid-template-columns: repeat(2,50%);
        /* grid-template-rows: repeat(4, 25%); */
    }

    .grid-2 {
        display: grid;
        grid-template-columns: repeat(2,50%);
        /* grid-template-rows: repeat(4, 25%); */
    }
}

@media screen and (max-width: 680px){
    .col-1 {
        width: 100%;
    }
    
    .col-2 {
        width: 100%;
    }
    
    .col-3 {
        width: 100%;
    }
    
    .col-4 {
        width: 100%;
    }
    
    .col-5 {
        width: 100%;
    }
    
    .col-6 {
        width: 100%;
    }
    
    .col-7 {
        width: 100%;
    }
    
    .col-8 {
        width: 100%;
    }
    
    .col-9 {
        width: 100%;
    }
    
    .col-10 {
        width: 100%;
    }
    
    .col-11 {
        width: 100%;
    }
    
    .col-12 {
        width: 100%;
    }

    .grid-4{
        display: grid;
        grid-template-columns: repeat(1,100%);
        /* grid-template-rows: repeat(4, 25%); */
    }

    .grid-2 {
        display: grid;
        grid-template-columns: repeat(1,100%);
        /* grid-template-rows: repeat(4, 25%); */
    }

    .grid-3 {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        /* grid-template-rows: repeat(4, 25%); */
    }
}